<h1>dsf</h1>
<button class="btn btn-primary">e</button>
<br>
<button pButton type="button"  >gdfgd</button>

<h3 class="first">Addons</h3>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
    </div>


    <p-accordion>  
        <p-accordionTab header="India">  
          <p-orderList [value]="Indiastate">  
            <ng-template let-state pTemplate="item">  
              <div class="ui-helper-clearfix">  
                <div style="font-size:16px;float:left;margin:5px">{{state}}</div>  
              </div>  
            </ng-template>  
          </p-orderList>  
        </p-accordionTab>  
        <p-accordionTab header="Australia">  
          <p-orderList [value]="Ausstate">  
            <ng-template let-Ausstate pTemplate="item">  
              <div class="ui-helper-clearfix">  
                <div style="font-size:16px;float:left;margin:5px">{{Ausstate}}</div>  
              </div>  
            </ng-template>  
          </p-orderList>  
        </p-accordionTab>  
        <p-accordionTab header="SriLanka">  
          <p-orderList [value]="Slstate">  
            <ng-template let-Slstate pTemplate="item">  
              <div class="ui-helper-clearfix">  
                <div style="font-size:16px;float:center;margin:5px">{{Slstate}}</div>  
              </div>  
            </ng-template>  
          </p-orderList>  
        
        </p-accordionTab>  
      </p-accordion>  
         